body{
    
    background-color: rgb(196, 120, 231);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 25px;
}


#snakeLogo{
    width: 8%;

}

#logoAndTitle, header, nav,#introAndMainImage{
    display:flex;
    align-items: center;
}

